# /lib/systemd/system/sums.service
[Unit]
Description=Server User Management System 服务器用户管理系统 SUMS

[Service]
WorkingDirectory=/root/sums
ExecStart=/root/sums/sums

[Install]
WantedBy=multi-user.target


